node_modules/
dist/
.env
*.log
.DS_Store

# Seed generated
seed/node_modules/
seed/prisma/

# Docker volumes (no subir datos de DB)
postgres_data/

# Google service account credentials
backend/google-service-account.json
